<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>重新发送邮件</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/login.css}">
    <script type="text/javascript" th:src="@{/user/js/jquery.min.js}"></script>
    <script type="text/javascript">
        $(function(){
            $(".name input").focus(function(){
                $(this).prev("i").css({"background-image":"url(/user/img/user2.png)"});
            });
            $(".name input").blur(function(){
                $(this).prev("i").css({"background-image":"url(/user/img/user1.png)"});
            });
            $(".password input").focus(function(){
                $(this).prev("i").css({"background-image":"url(/user/img/password2.png)"});
            });
            $(".password input").blur(function(){
                $(this).prev("i").css({"background-image":"url(/user/img/password1.png)"});
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="wrap">
            <header><em>Logo</em><span>APP应用商店后台</span></header>
            <article>
                <section>
                    <aside>
                        <em>
                            <img src="/user/img/user.png">
                        </em>
                         <form >
                            <p id="info"></p>
                            <p class="name"><i></i><input type="text" required id="devUsername" name="devUsername" class="userName" placeholder="请输入用户名"></p>
                            <p class="email"><i></i><input type="email" id="devEmail" required name="devEmail" class="email" placeholder="请输入邮箱"></p>
                            <button type="button" id="reSendEmailBtn">重新发送邮件</button>
                            <p class="register"><span>已经激活?</span><a th:href="@{/dev/user/login-ui}">立即登录</a></p>
                            <div class="clear"></div>
                        </form>
                    </aside>
                   
                </section>               
            </article>
            <footer>
                <ul>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">人才招聘</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">公司地址</a></li>
                    <li><a href="#">关注我们</a></li>
                </ul>
                <p>本网站版权归我的技术有限公司所有，未经许可，不得转载。</p>
            </footer>
        </div>
    </div>

<script>
    $("#reSendEmailBtn").click(function () {
        var devUsername = $("#devUsername").val();
        var devEmail = $("#devEmail").val();
        if (devUsername == null || devUsername.length<5){
            $("#info").html("用户名为必填且不能小于5位！").css("color","yellow");
            return;
        }
        if (devEmail == null){
            $("#info").html("邮箱不能为空！").css("color","yellow")
            return;
        }

        $.post(
            "/dev/user/resend-active",
            {
                "devUsername":devUsername,
                "devEmail":devEmail
            },
            function (result) {
                if (result.code == 0){
                    location.href = "/dev/user/login-ui";
                }else {
                    $("#info").html("重新发送邮件失败！").css("color","yellow");
                }
            },
            "json"
        )
    });
</script>
</body>
</html>
