<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>公共模块</title>
</head>
<body>

<!--    1. 头部-->
    <div th:fragment="header" class="layui-header">
    <div class="layui-logo">APP开发者后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">功能待定</a></li>
        <li class="layui-nav-item"><a href="">功能待定</a></li>
        <li class="layui-nav-item"><a href="">功能待定</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">功能待定</a>
            <dl class="layui-nav-child">
                <dd><a href="">功能待定</a></dd>
                <dd><a href="">功能待定</a></dd>
                <dd><a href="">功能待定</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                <shiro:principal property="devUsername"/>
<!--                <span shiro:principal=""></span>-->
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">功能待定</a></dd>
                <dd><a href="">功能待定</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a th:href="@{/logout}">退了</a></li>
    </ul>
</div>

<!--    2. 左侧-->
    <div th:fragment="left" class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
<!--            layui-nav-itemed 默认展开-->
            <li class="layui-nav-item ">
                <a class="" href="javascript:;">功能待定</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">功能待定</a></dd>
                    <dd><a href="javascript:;">功能待定</a></dd>
                    <dd><a href="javascript:;">功能待定</a></dd>
                    <dd><a href="">功能待定</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">功能待定</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">功能待定</a></dd>
                    <dd><a href="javascript:;">功能待定</a></dd>
                    <dd><a href="">功能待定</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/dev/app/app-maintain}">APP维护</a></li>
            <li class="layui-nav-item"><a href="">功能待定</a></li>
        </ul>
    </div>
</div>

<!--    3. 底部-->
    <div th:fragment="footer" class="layui-footer">
    <!-- 底部固定区域 -->
    © app.com 北京备案,澳门备案.
</div>

</body>
</html>